  <div class="col-12 col-md-10 col-lg-8 offset-md-1 offset-lg-2 border border-radius-5 p-3 mt-5">
    <h3 class="table-heading"><%= @user_type + 's:' %></h3>

    <div id="users-table">
      <% if @users.present? %>
        <table class="table table-hover table-responsive">
          <thead class="thead-light">
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Add User</th>
            </tr>
          </thead>

          <tbody>
            <% @users.each do |user| %>
              <tr>
                <td><%= user.name %></td>
                <td><%= user.email %></td>
                <% if policy(@project).edit? %>
                  <td><%= link_to 'Add User', project_assignments_path(project_id: @project.id, user_id: user.id, user_type: @user_type), method: :post %></td>
                <% else %>
                  <td class="text-muted">Add User</td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <h3 class="table-heading">No <%= @user_type + 's' %> found!</h3>
      <% end %>
    </div>
</div>
