<div class="row justify-content-center">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "col-12 col-md-6 col-lg-4 border border-radius-5 mt-5 p-4" }) do |f| %>
    <h3 class="form-heading">Forgot your Password?</h3>

    <div class="form-group mb-4 field">
      <%= f.email_field :email, class: 'form-control', autofocus: true, autocomplete: "email", placeholder: "Email" %>
      <%= render "devise/shared/error_messages", resource: resource, field: :email %>
    </div>

    <div class="form-group mb-4 actions">
      <%= f.submit "Send me reset password instructions", class: 'btn btn-primary btn-submit' %>
    </div>

    <%= render "devise/shared/links" %>
  <% end %>
</div>
