<div class="row justify-content-center">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "col-12 col-md-6 col-lg-4 border border-radius-5 mt-5 p-4"}) do |f| %>
    <h3 class="form-heading">Log in</h3>
    <div class="form-group mb-4 field">
      <%= f.email_field :email, class: 'form-control', autofocus: true, autocomplete: "email", placeholder: "Email" %>
    </div>

    <div class="form-group mb-4 field">
      <%= f.password_field :password, class: 'form-control', autocomplete: "current-password", placeholder: "Password" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="form-group form-check mb-4 field">
        <%= f.check_box :remember_me, class: 'form-check-input' %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="form-group mb-4 actions">
      <%= f.submit "Log in", class: 'btn btn-primary btn-submit' %>
    </div>

    <%= render "devise/shared/links" %>
  <% end %>
</div>
