<% if bugs.empty? %>
  <h3 class="table-heading">No Bugs Found!</h3>
<% else %>
  <table class="table table-hover table-responsive">
    <thead class="thead-light">
      <tr>
        <th>Title</th>
        <th>Deadline</th>
        <th>Type</th>
        <th>Status</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>

    <tbody>
      <% bugs.each do |bug| %>
        <tr>
          <td><%= link_to bug.title, project_bug_path(project, bug) %></td>
          <td><%= bug.deadline %></td>
          <td><%= bug.bug_type.capitalize %></td>
          <td><%= bug.status.capitalize %></td>
          <% if policy(bug).edit? %>
            <td><%= link_to 'Edit', edit_project_bug_path(project, bug) %></td>
          <% else %>
            <td class="text-muted">Edit</td>
          <% end %>
          <% if policy(bug).destroy? %>
            <td><%= link_to 'Delete', project_bug_path(project, bug), method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% else %>
            <td class="text-muted">Delete</td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
